.card{
    max-width: 600px;
    width:40%;
    align-items: flex-end;
}

.card__title{
    padding:0 0 32px;
    margin:0;
    font-weight: bold;
    font-size:20px;
    line-height: 30px;
}

.card__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.card__list-item{
    display:flex;
    align-items: flex-end;
    padding:0 0 16px;
    font-family: 'Noto Serif' ,'Times New Roman' ,serif;
}

.card__list-item:last-of-type{
     padding: 0;
}

.card__list-divider{
    flex-grow:1;
    border-bottom: 1px white solid;
    margin:0 8px 5px;
}