.header {
    height: 100vh;
    min-height: 750px;
    padding:30px 80px 40px 30px;
    position: relative;
    box-sizing: border-box;
    background-image: url("/images/background_header.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .nav {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .logo {
    width: 150px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  
  .nav__link {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav__link:hover {
    color: #1f69c9;
  }
  
  .header__title {
    margin: 80px 0 0 50px;
    z-index: 2;
    position: relative;
    font-size:60px;
    line-height: 72px;
    font-weight: 400;
  }

  .header__title_top-title{
      display: block;
      color: #2f80ed;
      font-family: 'Noto Serif' ,'Times New Roman' ,serif;
      font-style: italic;
      font-weight: 500;
  }
  
  .header__description {
    font-size: 20px;
    line-height: 30px;
    margin: 28px 0 0 50px;
    max-width:465px;
    z-index: 2;
    position: relative;
  }
  
  .header__image {
    z-index: 0;
    max-width: 636px;
    position: absolute;
    top:124px;
    right:5px;
  }
  
  .header__footer {
    position: absolute;
    /* left: 80px; */
    bottom: 40px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 40px 80px 0 50px;
    justify-content: space-between;
    box-sizing: border-box;
    color: #838383;
    font-weight:500;
    
  }

  .header__column-heading {
    font-weight:500;
    margin: 0;
  }
  
  .header__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav__link {
    text-decoration: none;
    transition: color 0.15s ease-in-out 0s;
  }
  
  .nav__link:hover {
    color: #2f80ed;
  }
  
 