.reservation{
    background-color: #d9e7ff;
    background-image: url("../images/background_reservation.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:100px 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation__title{
    text-align: center;
    font-size: 44px;
    line-height: 52px;
    font-weight: 500;
}

.reservation__form{
    width:100%;
    max-width: 385px;
}


.form__fieldset{
    border: none;
    padding:0;
    margin:0;
}

.form__label{
    display: block;
    margin-bottom:8px;
    font-weight: 500;

}

.form__input{
    width: 100%;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
    padding:10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form__button{
    display:block;
    width: 100%;
    margin: 0 0 32px;
    font-weight: 500px;
    line-height: 30px;
    padding:10px;
    background-color: #2f80ed;
    color:#ffffff;
    border: none;
    transition: opacity linear 0.2s 0s;
}

.form__button:hover{
    opacity: 0.7;
}

.form__fieldset-checkbox{
    text-align: center;
}

/* width supposed to be 8x8 but looks terribly small compared to brief */
.form__input-checkbox {
    border-radius: 2px;
    min-width: 8px;
    min-height: 8px;
    vertical-align: middle;
  }

.form__label-checkbox{
      display: inline;
      margin-left: 12px;
      vertical-align: middle;
  }